<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="alert alert-danger">شما به این صفحه دسترسی ندارید</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="alert alert-danger text-center" role="alert">صفحه مورد نظر یافت نشد</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>


